<%= render 'shared/alerts' %>
<h1> index </h1>
<br><br>

<%= @adultos.inspect %>
<%= @infantis.inspect %>

<%= @laudos.inspect %>

<%= @relatorios.inspect %>

<%= @declaracoes.inspect %>

<%= @pareceres.inspect %>
