<%= form_with model: parecer, url: path, method: method do |f| %>
  <% if parecer.id.present? %>
    <div class="form-row">
      <div class="form-group col">
        <label for="created_at">Data de criação</label>
        <input type="text" id="created_at" disabled value="<%= parecer.created_at.to_date %>" class="form-control">
      </div>
    </div>
  <% end %>

  <div class="form-row">
    <div class="form-group col">
      <label for="cidade">CRP</label>
      <%= f.text_field :crp, id: 'crp', class: "form-control #{ 'is-invalid' if parecer.errors[:crp].any? }", required: true %>
      <% if parecer.errors[:crp].any? %>
        <div class="invalid-feedback">
          <% parecer.errors[:crp].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="description">Descrição da demanda</label>
      <%= f.text_area :description, id: 'description', class: "form-control #{ 'is-invalid' if parecer.errors[:description].any? }", required: true, rows: '5' %>
      <% if parecer.errors[:description].any? %>
        <div class="invalid-feedback">
          <% parecer.errors[:description].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="form-row">
    <div class="form-group col">
      <label for="analysis">Análise</label>
      <%= f.text_area :analysis, id: 'analysis', class: "form-control #{ 'is-invalid' if parecer.errors[:analysis].any? }", required: true, rows: '5' %>
      <% if parecer.errors[:analysis].any? %>
        <div class="invalid-feedback">
          <% parecer.errors[:analysis].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="conclusion">Conclusão</label>
      <%= f.text_area :conclusion, id: 'conclusion', class: "form-control #{ 'is-invalid' if parecer.errors[:conclusion].any? }", required: true, rows: '5' %>
      <% if parecer.errors[:conclusion].any? %>
        <div class="invalid-feedback">
          <% parecer.errors[:conclusion].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <label for="references">Referências</label>
      <%= f.text_area :references, id: 'references', class: "form-control #{ 'is-invalid' if parecer.errors[:references].any? }", required: true, rows: '5' %>
      <% if parecer.errors[:references].any? %>
        <div class="invalid-feedback">
          <% parecer.errors[:references].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-row">
    <% if parecer.id.present? %>
      <div class="form-group col-12 col-lg-6">
          <%= link_to 'Excluir', patient_parecer_path, method: :delete, class: 'btn btn-outline-danger btn-block my-0 my-lg-2', data: { confirm: 'Tem certeza que deseja excluir este parecer?' } %>
      </div>
    <% end %>
    <div class="form-group col">
      <%= f.submit (parecer.id.present?) ? 'Atualizar' : 'Salvar', class: 'btn btn-primary btn-block my-0 my-lg-2' %>
    </div>
</div>
<% end %>
