<%
=begin%>
 <h1 class="bold">Nova parcela</h1> 
<%
=end%>
<%= form_for(parcel, url: {office: params[:office]}) do |f| %>
  <div class="form-row">
    <div class="form-group col">
      <%= f.label 'Valor Recebido', for: 'value' %>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="value-prepend">R$</span>
        </div>
        <%= f.number_field :value, step: :any, min: 0, class: "form-control  #{ 'is-invalid' if parcel.errors[:value].any? }", 'aria-describedby': 'value-prepend' %>
      </div>
      <% if parcel.errors[:value].any? %>
        <div class="invalid-feedback">
          <% parcel.errors[:value].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-row">
      <div class="form-group col">
        <%= f.label 'Observação', for: 'observation' %>
        <%= f.text_area :observation, class: "form-control  #{ 'is-invalid' if parcel.errors[:observation].any? }", rows: 5 %>
        <% if parcel.errors[:observation].any? %>
          <div class="invalid-feedback">
            <% parcel.errors[:observation].each do |m| %>
              <%= m %>
              <br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  <%= f.submit 'Adicionar', class: 'btn btn-primary btn-block my-2' %>
<% end %>
