<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Parcelas' } %>
<% content_for(:head) do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= render 'shared/navbar' %>
<%= render 'shared/alerts' %>

<style>
  main {
    height: 100%;
  }
</style>

<section class="el min-100 d-flex flex-column">
  <div class="row m-0">
    <div class="col m-0 p-0">
      <div class="row mx-0 mt-0 mb-3">
        <div class="">
          <h6 class="subtitle light m-0">Adicionar Parcela do Pagamento</h6>
          <p class="phrase light m-0">Paciente: <span class="phrase bold"><%= @office_visit.patient.name %></span></p>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-lg-7 col-12 m-0 py-0 pr-3 pl-0">
          <table id="parcels-table" class="table table-striped">
            <thead>
              <tr>
                <th>Valor</th>
                <th>Data</th>
                <th>Observação</th>
                <th>Atalhos</th>
              </tr>
            </thead>

            <tbody>
              <% @parcels.each do |parcel| %>
              <tr>
                <td>R$ <%= parcel.value %></td>
                <td data-order="<%= parcel.created_at.to_date.to_time.to_i %>"><%= parcel.created_at %></td>
                <td <% if parcel.observation.present? %>
                  title="<%= parcel.observation %>" <% end %>>
                  <%= (parcel.observation.present?) ? truncate(parcel.observation, :length => 20, separator: ' ') : '-'%>
                </td>
                <td>
                  <%= link_to parcel, method: :delete, data: { confirm: 'Tem certeza que deseja apagar esta parcela?' }, class: 'el-anchor' do %>
                  <i class="text-center d-block fas fa-trash text-danger"></i>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>

        <div class="col mx-0 mt-lg-0 mt-5 p-0 d-flex justify-content-center align-items-start">
          <div class="bounding">
            <div class="mb-5">
              Valor a receber: <b class="text-danger">R$ <%= @office_visit.value %></b>
              <hr />
              Valor recebido: <b class="text-success">R$ <%= @parcels.sum(:value) %></b>
              <hr />
            </div>

            <%= render 'form', parcel: @parcel %>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'dataTables.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dataTables.bootstrap4.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dataTables.responsive.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'parcels', 'data-turbolinks-track': 'reload' %>
  </div>
</section>