<p id="notice"><%= notice %></p>

<h1>Declaracaos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @declaracaos.each do |declaracao| %>
      <tr>
        <td><%= link_to 'Show', declaracao %></td>
        <td><%= link_to 'Edit', edit_declaracao_path(declaracao) %></td>
        <td><%= link_to 'Destroy', declaracao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Declaracao', new_declaracao_path %>
