<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Login' } %>
<div class="min100 d-flex flex-column">
  <%= render 'shared/public-navbar-register' %>
  <section class="el fill justify-content-center">
    <div class="row m-0 p-0 h-100">
      <div id="left-side-login" class="left col-6 col-has-bg m-0 p-0"></div>
      <div id="right-side-login" class="d-flex right col m-0 p-0 flex-column">
        <div class="bounding">
          <%= render 'shared/alerts' %>
          <h1 class="bold">
            Fazer login
          </h1>
          <!-- <form class="pt-3"> -->
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-row">
              <div class="form-group col">
                <label for="email">Email</label>
                <%= f.email_field :email, id:'email', autofocus: true, placeholder: '', class: 'form-control', type: 'email', required: true, autocomplete: "email" %>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group col">
                <label for="password">Senha</label>
                <%= f.password_field :password, id:'password', placeholder: '', class: 'form-control', type: 'password', required: true, autocomplete: "current-password" %>
                <div class="mt-2">
                  <%= link_to 'Esqueceu sua senha?', new_user_password_path, class: 'el-anchor' %>
                </div>
              </div>
            </div>
            
            <div class="mt-2">
              <% if devise_mapping.rememberable? %>
                <div class="form-check">
                  <%= f.check_box :remember_me, id: 'remember_me', class: 'form-check-input' %>
                  <%= f.label :remember_me, class: 'form-check-label', for:'remember_me' %>
                </div>
              <% end %>
              <%= f.submit 'Entrar', class: 'mt-2 btn btn-primary btn-block' %>
            </div>
            
            <div class="pt-3">
                <%= link_to 'Não possui uma conta? Registre-se.', new_user_registration_path, class: 'el-anchor' %>
            </div>
          <% end %>
          <!-- </form> -->
        </div>
      </div>
    </div>
  </section>
  <footer class="d-flex align-items-center justify-content-center">
    <small class="text-center">
      ©2020 Elephant <br>
      Todos os direitos reservados.
    </small>
  </footer>
</div>