<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Editar Consulta' } %>

<div class="row mx-0 mb-3 mt-0 p-0 d-flex flex-column">
  <h6 class="subtitle light m-0">Editar Consulta</h6>
  <p class="phrase light m-0">Paciente: <span class="phrase bold"><%= @patient.name %></span></p>
</div>

<div class="col fill m-0 p-0 align-items-center">
  <div class="bounding generic-form">
    <%= form_with(model: [@patient, office_visit], local: true) do |form| %>

    <div class="form-row">
      <div class="form-group col">
        <%= form.label :valor_cobrado, for: 'valor-cobrado' %>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="valor-cobrado-prepend">R$</span>
          </div>
          <%= form.number_field :value, step: :any, min: 0, class: "form-control  #{ 'is-invalid' if @office_visit.errors[:valor_cobrado].any? }", 'aria-describedby': 'valor-cobrado-prepend' %>
        </div>
        <% if @office_visit.errors[:valor_cobrado].any? %>
          <div class="invalid-feedback">
            <% @office_visit.errors[:valor_cobrado].each do |m| %>
              <%= m %>
              <br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <%= form.label :descrição %>
        <%= form.text_area :description, class: "form-control  #{ 'is-invalid' if @office_visit.errors[:description].any? }", rows: 8 %>
        <% if @office_visit.errors[:description].any? %>
          <div class="invalid-feedback">
            <% @office_visit.errors[:description].each do |m| %>
              <%= m %>
              <br>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-row my-2">
      <div class="form-group col">
        <div class="input-group">
          <div class="custom-file">
            <%= form.file_field :documents, multiple: true, class: 'custom-file-input', id: 'documents' %>
            <%= form.label 'Adicionar anexos', class: 'custom-file-label form-control', for: 'documents' %>
          </div>
        </div>
      </div>
    </div>

    <%
=begin%>
 <% if @office_visit.documents.any? %>
      <p class="m-0"> Anexos da consulta </p>
      <table class="table table-image table-stripped table-bordered">
        <thead>
          <tr>
            <th scope="col">Anexo</th>
            <th scope="col">Imagem</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @office_visit.documents.each_with_index do |document, index| %>
            <tr>
              <th style="vertical-align: middle" scope="row">1</th>
              <td class="w-25">
                <%= link_to document.url, target: '_blank' do %>
                  <img alt='<%= "Anexo #{index + 1}" %>' src="<%= document.url %>" class="img-fluid img-thumbnail">
                <% end %>
              </td>
              <td style="vertical-align: middle" class="w-10">
                <i class="text-danger fas fa-trash"></i>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %> 
<%
=end%>

    <%= form.submit 'Atualizar', class: 'btn btn-primary btn-block my-2' %>

    <% end %>
  </div>
</div>