<div class="row m-0">
  <div class="col m-0">
    <div class="row mx-0 mt-0 mb-3">
      <div class="">
        <h6 class="subtitle light m-0"><%= title %></h6>
        <p class="phrase light m-0">Paciente: <span class="phrase bold"><%= @patient.name %></span></p>
      </div>
    </div>

    <div class="row m-0">
      <div class="col-8 m-0 py-0 pr-3 pl-0 d-none d-lg-block">
        <%= render 'calendar/show' %>
      </div>

      <div class="col m-0 p-0 d-flex justify-content-center align-items-start">
        <div class="bounding">
          <%= form_with(url: office_visits_path, local: true) do |form| %>
          <%= hidden_field_tag :id_patient, params[:id_patient] %>

          <div class="form-row">
            <div class="form-group col">
              <label for="start-date">Data</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="start-date-prepend"><i class="far fa-calendar-alt"></i></span>
                </div>
                <%= form.text_field '', type: 'text', required: true, class: 'form-control nascimento', id: 'start-date', 'aria-describedby': 'start-date-prepend', placeholder: 'dd/mm/aaaa', value: '12/12/1222' %>
              </div>
              <% if multiple %>
              <div class="invalid-feedback">
                
              </div>
              <% end %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="hour">Horário</label>
              <%= form.text_field :hour, type: 'time', required: true, class: 'form-control', id: 'hour', value: '12:12' %>
            </div>
          </div>

          <% if multiple %>
          <div class="form-row">
            <div class="form-group col">
              <label for="repetition-select">Repetir</label>
              <select class="form-control" id="repetition-select">
                <option selected value="0">Não</option>
                <option value="1">Semanalmente</option>
                <option value="2">Quinzenalmente</option>
                <option value="3">Mensalmente</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col">
              <label for="end-date">Até</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="end-date-prepend"><i class="far fa-calendar-alt"></i></span>
                </div>
                <%= form.text_field '', type: 'text', class: 'form-control nascimento', id: 'end-date', 'aria-describedby': 'end-date-prepend', placeholder: 'dd/mm/aaaa' %>
              </div>
              <div class="invalid-feedback">
                A data inicial precisa ser menor que a final.
              </div>
            </div>
          </div>

          <input type="hidden" id="visits" name="visits">
          <% end %>

          <%= form.submit 'Adicionar', class: 'btn btn-primary btn-block my-2', id: 'submit-' + (multiple ? 'multiple' : 'single') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>