<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Consultas' } %>

<%= render 'shared/navbar' %>
<%= render 'shared/alerts' %>
<% content_for(:head) do %>
<meta name="turbolinks-visit-control" content="reload">
<% end %>
<style>
    main {
        height: 100%;
    }
    #all-office-visits-table tr {
        cursor: pointer;
    }
    #all-office-visits-table tr td:last-child {
        cursor: initial;
    }
    td a {
        color: #000;
    }
</style>

<%= stylesheet_link_tag 'dataTables.bootstrap4.min', media: 'all', 'data-turbolinks-track': 'reload' %>

<section class="el min-100 d-flex flex-column">
    <div class="row m-0 mb-5 px-0 d-flex align-items-center justify-content-center">
        <div class="col-12 col-lg-12 col-xl-10 m-0 p-0">
            <%= render 'calendar/show' %>
        </div>
    </div>

    <div class="row mx-0 mt-5 p-0">
        <div class="col-12 col-lg-6 d-flex align-items-center justify-content-center m-0 pl-0">
            <label class="sr-only" for="office-visits-search">Pesquisa</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-search"></i></div>
                </div>
                <input type="text" class="form-control" id="all-office-visits-search" placeholder="busque uma data ou paciente">
            </div>
        </div>
    </div>

    <div class="h-100 py-3">
        <table id="all-office-visits-table" data-visits="<%= @office_visits.to_json(:only => [:id, :patient_name, :date, :hour]) %>" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Paciente</th>
                    <th>Atalhos</th>
                </tr>
            </thead>
            <tbody>
                <% @office_visits.each do |office_visit| %>
                <tr data-link="<%= validation_patients_path(id: office_visit.patient, prev: office_visits_path) %>">
                    <td data-order="<%= office_visit.date %>"><%= (office_visit.date.present?) ? office_visit.date : '-' %> <%= (office_visit.hour.present?) ? office_visit.hour : '-' %></td>
                    <td><%= office_visit.patient.name %></td>
                    <td>
                        <a href="<%= office_visit_pdf_path(office_visit_id: office_visit.id, format: "pdf") %>" target="_blank" title="Imprimir"><i class="fas fa-print"></i></a>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>

        <script>

        </script>

        <%= javascript_include_tag 'dataTables.min', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'dataTables.bootstrap4.min', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'dataTables.responsive.min', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'office_visits_all', 'data-turbolinks-track': 'reload' %>
    </div>
</section