<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Consultas do paciente ' + @patient.name } %>

<%= render 'shared/navbar' %>
<%= render 'shared/alerts' %>
<% content_for(:head) do %>
  <meta name="turbolinks-visit-control" content="reload">
<% end %>
<style>
  main {
    height: 100%;
  }
</style>

<link rel="stylesheet" href="/assets/dataTables.bootstrap4.min.css">

<section class="el min-100 d-flex flex-column">
  <div class="my-3">
    <h6 class="subtitle light m-0">Listagem de consultas</h6>
    <p class="phrase light m-0">Paciente: <span class="phrase bold"><%= @patient.name %></span></p>
  </div>
  <div class="row m-0 p-0">
    <div class="col-8 col-lg-6 d-flex align-items-center justify-content-center m-0 pl-0">
      <label class="sr-only" for="office-visits-search">Pesquisa</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fas fa-search"></i></div>
        </div>
        <input type="text" class="form-control" id="office-visits-search"
          placeholder="busque uma data ou descrição">
      </div>
    </div>

    <div class="col-4 col-lg-6 d-flex align-items-end justify-content-end m-0 pr-0">
      <%= link_to new_patient_office_visit_path(@patient), class: 'btn btn-outline-primary' do %>
        <i class="d-none d-lg-inline fas fa-plus mr-2"></i>Adicionar
      <% end %>
    </div>
  </div>

  <div class="h-100 py-3">
    <table id="office-visits-table" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Data</th>
          <th>Descrição</th>
          <th>Atalhos</th>
        </tr>
      </thead>
      <tbody>
        <% @office_visits.each do |office_visit| %>
        <tr>
          <td><%= (office_visit.date.present?) ? office_visit.date : '-' %> <%= (office_visit.hour.present?) ? office_visit.hour : '-' %></td>
          <td><%= (office_visit.description.present?) ? truncate(office_visit.description, :length => 75, separator: ' ') : '-' %></td>
          <td>
            <div class="row m-0">

              <div class="col-2 m-0 d-flex align-items-center justify-content-center">
                <%= link_to office_visit, class: 'el-anchor', title: 'Ver Consulta' do %>
                  <i class="fas fa-search"></i>
                <% end %>
              </div>

              <div class="col-2 m-0 d-flex align-items-center justify-content-center">
                <a title="Editar Consulta" href="<%= edit_patient_office_visit_path(@patient, office_visit) %>" class="el-anchor"><i class="fas fa-pencil-alt"></i></a>
              </div>

              <div class="col-2 m-0 p-0 d-flex align-items-center justify-content-center">
                <%= link_to edit_patient_office_visit_path(@patient, office_visit, remark: true), class: 'el-anchor', title: 'Remarcar Consulta' do %>
                  <i class="far fa-calendar-alt"></i>
                <% end %>
              </div>

              <div class="col-2 m-0 d-flex align-items-center justify-content-center">
                <a title="Adicionar Parcela" href="<%= parcels_path(office: office_visit, id_patient: params[:id_patient]) %>" class="el-anchor"><i class="fas fa-money-bill-wave"></i></a>
              </div>

              <div class="col-4 m-0 p-0 d-flex align-items-center justify-content-center">
                <%= link_to [@patient, office_visit], method: :delete, class: 'text-danger', data: { confirm: 'Tem certeza que deseja excluir esta consulta?' }, title: 'Apagar Consulta' do %>
                  <i class="fas fa-trash"></i>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <script>

    </script>

    <%= javascript_include_tag 'dataTables.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dataTables.bootstrap4.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'dataTables.responsive.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'office_visits_all', 'data-turbolinks-track': 'reload' %>
  </div>
</section