<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/">
    <%= image_tag 'white-elephant-full.png', alt: 'Logo Elephant - Gerenciamento para psicologia clínica', class: 'navbar-brand-img'%>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsed-navbar-content" aria-controls="collapsed-navbar-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsed-navbar-content">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#contatos-modal">Fale Conosco</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Termos de Uso', '/termos-politica', class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Política de Privacidade', '/termos-politica' + '#politica-de-privacidade', class: 'nav-link' %>
        </li>
        
    </ul>

    <%= link_to 'Fazer Login', new_user_session_path, class: 'btn btn-outline-light nav-btn' %>
    <%= link_to 'Registrar-se', new_user_registration_path, class: 'btn btn-light nav-btn' %>
    
  </div>
</nav>