<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Home' } %>

<div class="min100 d-flex flex-column">
  <%= render 'shared/navbar' %>
  <%= render 'shared/alerts' %>
  <section class="el fill d-flex flex-column align-items-center justify-content-between">
    <div class="card-deck card-deck-home">
      <div class="card card-home" data-link="<%= patients_path %>">
        <div class="card-body">
          <i class="fas fa-users"></i>
          <h4 class="d-block text-center light text-dark m-0 card-title">Pacientes</h4>
        </div>
      </div>

      <%
=begin%>
 <div class="card card-home" data-link="#">
        <div class="card-body">
          <i class="fas fa-file-alt"></i>
          <h4 class="d-block text-center light text-dark m-0 card-title">Documentos</h4>
        </div>
      </div> 
<%
=end%>

      <div class="card card-home" data-link="<%= graphs_index_path %>">
        <div class="card-body">
          <i class="fas fa-money-bill-wave"></i>
          <h4 class="d-block text-center light text-dark m-0 card-title">Finanças</h4>
        </div>
      </div>

      <div class="card card-home" data-link="<%= office_visits_path %>">
        <div class="card-body">
          <i class="far fa-calendar-alt"></i>
          <h4 class="d-block text-center light text-dark m-0 card-title">Consultas</h4>
        </div>
      </div>

      <div class="card card-home" data-link="<%= edit_user_registration_path %>">
        <div class="card-body">
          <i class="fas fa-user-tie"></i>
          <h4 class="d-block text-center light text-dark m-0 card-title">Meu Perfil</h4>
        </div>
      </div>

      <div class="card card-home" data-link="<%= preferences_path %>">
        <div class="card-body">
          <i class="fas fa-cogs"></i>
          <h4 class="d-block text-center light text-dark m-0 card-title">Ajustes</h4>
        </div>
      </div>
  </div>
  <div class="row mt-5 mx-0">
    <small class="text-center d-block">
      ©2020 Elephant <br>
      Todos os direitos reservados.
    </small>
  </div>

  <div class="elen w-25">
    <div class="elephant">
      <div class="speech-bubble">
        <button type="button" class="close close-elen" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p class="text-center mb-0 phrase">Oi, eu sou a Elen!<br>Estou aqui para te ajudar <br>com algumas dicas.</p>
      </div>
      <div class="w-50 mt-3">
        <%= image_tag "elen.png", class:'img-fluid' %>
      </div>
    </div>

    <div class="reshow-elen square-fab ml-4 mb-4" style="display: none">
      <i class="fas fa-info"></i>
    </div>
  </div>
</section>

<%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>
</div>

