<%= form_for(patient) do |f| %>
<div class="form-row">
  <div class="form-group col">
    <label for="name">Nome</label>
    <%= f.text_field :name, id: 'name', class: 'form-control', required: true %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="exampleFormControlSelect1">Gênero</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option selected value="0">Selecione uma opção</option>
      <option value="m">Masculino</option>
      <option value="f">Feminino</option>
      <option value="o">Outro</option>
    </select>
  </div>

  <div class="form-group col-6">
    <label for="age">Idade</label>
    <%= f.number_field :age, min: 0, class: 'form-control', id: 'age', required: true %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="birth-date">Data de nascimento</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="birth-date-prepend"><i class="far fa-calendar-alt"></i></span>
      </div>
      <input type="text" class="form-control nascimento" id="birth-date" aria-describedby="birth-date-prepend" required>
    </div>
  </div>

  <div class="form-group col-6">
    <label for="contato">Contato</label>
    <input type="text" class="form-control telefone" id="contato">
  </div>
</div>

<div class="form-row">
  <div class="form-group col-6">
    <label for="profissao">Profissão</label>
    <input type="text" class="form-control" id="profissao">
  </div>

  <div class="form-group col-6">
    <label for="contato-parente">Contato de parente</label>
    <input type="text" class="form-control telefone" id="contato-parente">
  </div>
</div>

<div class="form-row">
  <div class="form-group col">
    <div class="input-group">
      <div class="custom-file">
        <%= f.file_field :avatar, class: 'custom-file-input', id: 'avatar' %>
        <label class="custom-file-label form-control" for="avatar">Selecione uma foto</label>
      </div>
    </div>

  </div>
</div>

<div class="form-row">
  <div class="form-group col">

    <label for="code">Código de segurança </label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="code-prepend"><i class="fas fa-lock"></i></span>
      </div>

      <%= f.password_field :code, class: 'form-control', id:'code', 'aria-describedby': 'code-prepend' %>
    </div>
    <small>Código para acessar as consultas do paciente</small>
  </div>
</div>

<!-- <div class="form-row">
    <div class="form-group col-6">
    
    </div>
  </div> -->

<%= f.submit 'Salvar', class: 'btn btn-primary btn-block my-2' %>
<% end %>