<%= form_for(patient) do |f| %>
<% if patient.avatar.present? %>
  <div class="form-row">
    <div class="form-group col d-flex align-items-center justify-content-center">
      <%= image_tag(patient.avatar.medium.url, class: 'img-fluid') %>
    </div>
  </div>
<% end %>

<div class="form-row">
  <div class="form-group col">
    <label for="name">Nome</label>
    <%= f.text_field :name, id: 'name', class: "form-control #{ 'is-invalid' if patient.errors[:name].any? }", required: true %>
    <% if patient.errors[:name].any? %>
      <div class="invalid-feedback">
        <% patient.errors[:name].each do |m| %>
          <%= m %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col">
    <label for="gender">Gênero</label>
    <%= f.select :gender, options_for_select(Patient.gender_for_select, patient.gender || 0), {}, { class: "form-control", id: "gender" } %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col">
    <%= f.label :cpf, for: 'cpf' %>
    <%= f.text_field :cpf, class: "form-control cpf #{ 'is-invalid' if patient.errors[:cpf].any? }", id: 'cpf'%>
    <% if patient.errors[:cpf].any? %>
    <div class="invalid-feedback">
      <% patient.errors[:cpf].each do |m| %>
      <%= m %>
      <br>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col">
    <label for="naturalidade">Naturalidade</label>
    <%= f.text_field :naturalidade, id: 'naturalidade', class: "form-control #{ 'is-invalid' if patient.errors[:naturalidade].any? }", required: true %>
    <% if patient.errors[:naturalidade].any? %>
      <div class="invalid-feedback">
        <% patient.errors[:naturalidade].each do |m| %>
          <%= m %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-12 col-lg-6">
    <label for="birth-date">Data de nascimento</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="birth_date-prepend"><i class="far fa-calendar-alt"></i></span>
      </div>
      <%= f.text_field :birth_date, type: 'text', required: true, class: "form-control nascimento #{ 'is-invalid' if patient.errors[:birth_date].any? }", id: 'birth_date', 'aria-describedby': 'birth_date-prepend', placeholder: 'dd/mm/aaaa' %>
      <% if patient.errors[:birth_date].any? %>
        <div class="invalid-feedback">
          <% patient.errors[:birth_date].each do |m| %>
            <%= m %>
            <br>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group col-12 col-lg-6">
    <label for="phone">Contato</label>
    <%= f.text_field :phone, type: 'text', required: true, class: "form-control telefone #{ 'is-invalid' if patient.errors[:phone].any? }", id: 'phone', autocomplete: 'tel' %>
    <% if patient.errors[:phone].any? %>
      <div class="invalid-feedback">
        <% patient.errors[:phone].each do |m| %>
          <%= m %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-row">
  <div class="form-group col-12 col-lg-6">
    <label for="profession">Profissão</label>
    <%= f.text_field :profession, type: 'text', required: true, class: "form-control #{ 'is-invalid' if patient.errors[:profession].any? }", id: 'profession' %>
    <% if patient.errors[:profession].any? %>
      <div class="invalid-feedback">
        <% patient.errors[:profession].each do |m| %>
          <%= m %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="form-group col-12 col-lg-6">
    <label for="relative_phone">Contato de parente</label>
    <%= f.text_field :relative_phone, type: 'text', required: true, class: "form-control telefone #{ 'is-invalid' if patient.errors[:relative_phone].any? }", id: 'relative_phone', autocomplete: 'tel' %>
    <% if patient.errors[:relative_phone].any? %>
      <div class="invalid-feedback">
        <% patient.errors[:relative_phone].each do |m| %>
          <%= m %>
          <br>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="form-row my-2">
  <div class="form-group col">
    <div class="input-group">
      <div class="custom-file">
        <%= f.file_field :avatar, class: 'custom-file-input', id: 'avatar' %>
        <label class="custom-file-label form-control" for="avatar">Selecione uma foto</label>
      </div>
    </div>

  </div>
</div>

<div class="form-row">
  <div class="form-group col">

    <label for="code">Código de segurança </label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="code-prepend"><i class="fas fa-lock"></i></span>
      </div>

      <%= f.password_field :code, class: 'form-control', id:'code', 'aria-describedby': 'code-prepend', autocomplete: 'off' %>
    </div>
    <small>Código para acessar as consultas do paciente</small>
    <% if patient.id.present? %>
      <br>
      <small>Deixe em branco caso não queira alterar </small>
    <% end %>
  </div>
</div>

<!-- <div class="form-row">
    <div class="form-group col-6">

    </div>
  </div> -->

<div class="form-row">
  <% if patient.id.present? %>
    <div class="form-group col-12 col-lg-6">
        <%= link_to 'Excluir', patient, method: :delete, class: 'btn btn-outline-danger btn-block my-0 my-lg-2', data: { confirm: 'Tem certeza que deseja excluir este paciente?' } %>
    </div>
  <% end %>
  <div class="form-group col">
    <%= f.submit 'Salvar', class: 'btn btn-primary btn-block my-0 my-lg-2' %>
  </div>
</div>

<% end %>