<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Detalhes do paciente ' + @patient.name } %>
<% content_for(:head) do %>
	<meta name="turbolinks-visit-control" content="reload">
<% end %>

<%= render 'shared/navbar' %>
<%= render 'shared/alerts' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
  <div class="bounding generic-form">
    <h1 class="bold m-0">Detalhes e edição do paciente</h1>
    <div class="my-3">

      <a class="text-dark" href="<%= patient_formularios_path(@patient) %>"><i class="fas fa-file-alt mr-2"></i>Ver documentos</a><br><a class="text-dark" href="<%= patient_office_visits_path(patient_id: @patient.id) %>"><i class="fas fa-calendar-alt mr-2"></i>Ver consultas</a> 
    </div>
    <%= render 'form', patient: @patient %>
  </div>

  <%= javascript_include_tag 'jquery.disableAutoFill.min', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'disable-autofill', 'data-turbolinks-track': 'reload' %>
</section>
