<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Validação do paciente' } %>
<% content_for(:head) do %>
	<meta name="turbolinks-visit-control" content="reload">
<% end %>
<%= render 'shared/navbar' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
	<div class="bounding generic-form">
	<%= render 'shared/alerts' %>
	<!-- <h1 class="bold">Senha do paciente</h1> -->

	<%= form_for @patient, url: {action: :validate}, html: { autocomplete: "off" } do |f| %>

		<%= hidden_field_tag :id_patient, @patient.id %>

		<div class="form-row">
			<div class="form-group col">
				<label for="code">Código de segurança </label>
				<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="code-prepend"><i class="fas fa-lock"></i></span>
				</div>

				<input type="password" class="password-bait visuallyhidden" autocomplete="new-password">

 				<%= f.password_field :code, value: '', class: 'form-control', id:'code', 'aria-describedby': 'code-prepend', autocomplete: "off", required: 'true' %> 
				</div>
			</div>
		</div>

		<%= f.submit 'Acessar', class: 'btn btn-primary btn-block my-2' %>
		<a class="btn btn-outline-primary btn-block my-2" href="<%= patients_path %>">Voltar</a>
	<% end %>
	</div>

	<%= javascript_include_tag 'jquery.disableAutoFill.min', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'disable-autofill', 'data-turbolinks-track': 'reload' %>
</section>