<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Nova assinatura' } %>

<% content_for(:head) do %>
  <%= javascript_include_tag 'card', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'mercadopago/subscription', 'data-turbolinks-track': 'reload' %>
<% end %>

<%= render 'shared/navbar' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
  <div class="bounding generic-form">
    <h1 class="bold">Nova Assinatura</h1>

    <%= render 'shared/alerts' %>

    <div class='card-wrapper my-3 my-lg-5 d-flex align-items-center justify-content-center'></div>

    <div id="alert-container"></div>

    <form id="card-data-form">
      <div class="form-row">
        <div class="form-group col">
          <label for="cardholder_name">Nome do titular</label>
          <input type="text" id="cardholder_name" class="form-control" placeholder="Nome conforme escrito no cartão">
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label for="card_number">Número</label>
          <input type="text" id="card_number" value="" placeholder="Número do cartão" class="form-control">
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-6">
          <label for="card_expiration_month">Mês de vencimento (2 dígitos)</label>
          <input type="number" min="0" max="12" placeholder="ex.: 10" id="card_expiration_month" value="" class="form-control" maxlength="2">
          <div class="invalid-feedback"></div>
        </div>

        <div class="form-group col-6">
          <label for="card_expiration_year">Ano de vencimento (4 dígitos)</label>
          <input type="number" min="0" id="card_expiration_year" value="" placeholder="ex.: 2027" class="form-control hidden-arrows" maxlength="4">
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-12 col-lg-6">
          <label for="security_code">Cód. de segurança</label>
          <input type="number" min="0" id="security_code" value="" placeholder="ex.: 123" class="form-control hidden-arrows" maxlength="4">
          <small>3 ou 4 dígitos no verso do cartão.</small>
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <div class="alert alert-danger alert-dismissible fade hidden" role="alert">
        <div class="alert-content"></div>
        <button type="button" onclick="closeAlert()" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </form>

    <input type="hidden" id="doc_type" value="<%= current_user.document_type %>" />
    <input type="hidden" id="doc_number" value="<%= current_user.document_number %>" />
    <input type="hidden" id="sender_hash" />
    <input type="hidden" id="card_brand" />

    <%= form_with url: subscriptions_path, html: { id: :subscription_form } do |form| %>
      <%= hidden_field_tag :token, '' %>
    <% end %>

    <button type="button" id="send_token" class="btn btn-primary btn-block my-2">Assinar</button>
  </div>
</section>
