<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Alterar senha' } %>

<%= render 'shared/public-navbar-full' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
    <div class="bounding generic-form">
        <h1 class="bold"><%= t('.change_your_password') %></h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-row">
            <div class="form-group col">
                <%= f.label :password, t('.new_password'), for: 'password' %>
                <% if @minimum_password_length %>
                <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", id: 'password', class: "form-control #{ 'is-invalid' if resource.errors[:password].any? }" %>
                <% if resource.errors[:password].any? %>
                <div class="invalid-feedback">
                    <% resource.errors[:password].each do |m| %>
                    <%= m %>
                    <br>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col">
                <%= f.label :password_confirmation, t('.confirm_new_password'), for: 'password_confirmation' %>
                <%= f.password_field :password_confirmation, autocomplete: "new-password", id: 'password_confirmation', class: "form-control #{ 'is-invalid' if resource.errors[:password_confirmation].any? }" %>
                <% if resource.errors[:password_confirmation].any? %>
                <div class="invalid-feedback">
                    <% resource.errors[:password_confirmation].each do |m| %>
                    <%= m %>
                    <br>
                    <% end %>
                </div>
                <% end %>
            </div>
        </div>

        <%= f.submit t('.change_my_password'), class: 'my-2 btn btn-primary btn-block' %>
        <% end %>
    </div>
</section>