<!DOCTYPE html>
<html>

<head>
    <title><%= content_for?(:html_title) ? yield(:html_title) : "Elephant - Gerenciamento Para Psicologia Clínica" %></title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag asset_path('favicon.png') %>
    <script src="https://kit.fontawesome.com/d789bb412d.js" crossorigin="anonymous"></script>

    <% if content_for?(:head) %>
    <%= yield(:head) %>
    <% end %>
</head>

<body class="p-0" <% if content_for?(:body_attributes) %> <%= yield(:body_attributes) %> <% end %>>
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');

    if (window.location.href == 'https://elephantapp.com.br/users/sign_up') {
      const img = document.createElement("img");
      img.style.width = "0";
      img.style.height = "0";
      img.style.display = "none";
      img.setAttribute("src", "https://www.facebook.com/tr?id=265086948302437&ev=PageView&noscript=1");

      const tagmanager = document.getElementById('tagmanager');
      tagmanager.append(img);
      
      fbq('init', '265086948302437');
      fbq('track', 'PageView');
    }
  </script>

  <noscript id='tagmanager'></noscript>
  <!-- End Facebook Pixel Code -->

    <main>
        <%= yield %>
    </main>

    <div class="modal fade" id="contatos-modal" tabindex="-1" role="dialog" aria-labelledby="contatos-modal-title" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-green">
              <h5 class="modal-title bold text-white ubuntu" id="contatos-modal-title">Nossos Contatos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>
                <i class="text-dark fas fa-envelope mr-2"></i>
                <a class="phrase el-anchor ubuntu" target="_blank" href="mailto:aplicativoelephant@gmail.com?subject=Contato%20sobre%20o%20app%20Elephant">
                  aplicativoelephant@gmail.com
                </a>
              </p>

              <p class="m-0">
                <i class="text-dark fas fa-phone-alt mr-2"></i>
                <a class="phrase el-anchor ubuntu" target="_blank" href="tel:22997260520">
                  (22) 997260520
                </a>
              </p>
            </div>
        </div>
      </div>
    </div>
</body>

</html>