<% content_for(:html_title) { 'Elephant - Gerenciamento Para Psicologia Clínica | Editar Perfil' } %>

<%= render 'shared/navbar' %>

<section class="d-flex m-0 align-items-start justify-content-center el min100">
  <div class="bounding generic-form">
    <h1 class="bold">Editar Perfil</h1>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="form-row">
        <div class="form-group col">
          <%= f.label :email, for: 'email' %>
          <%= f.email_field :email, id:'email', autofocus: true, placeholder: '', class: 'form-control', type: 'email', required: true%>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>
            <%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %>
          </div>
          <% end %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <%= f.label :password, for: 'password' %>
          <%= f.password_field :password, class: 'form-control', id: 'password' %>
          <% if @minimum_password_length %>
          <small>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</small>
          <small><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></small>
          <% end %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <%= f.label :password_confirmation, for: 'password_confirmation' %><br />
          <%= f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control' %>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <%= f.label :current_password, for: 'current_password' %><br />
          <%= f.password_field :current_password, id: 'current_password', class: 'form-control' %>
          <small>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</small>
        </div>
      </div>

      <!-- <div class="field text-center col-md-4 offset-md-4">
    <%= f.label :categoria %><br />
    <%= f.select :category, [:Empresa, :Autônomo], {include_blank: 'Selecione'}, class: 'form-control', required: true %>
  </div> -->

    <%= f.submit 'Atualizar', class: 'mt-2 btn btn-primary btn-block' %>
  <% end %>
  </div>
</section>